.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bntsBlock{
  background-color: aquamarine;
};

#userName{
  border: 1px solid black;
  color: black;
  margin: 4px;
  text-align: center;
}